/****************************************************************
*                         OpenAlchemist                         *
*                                                               *
*  File : style.css                                             *
*  Description : website design                                 *
*  License : do everything you want with this file              *
*  Author : Guillaume Delhumeau <guillaume.delhumeau@gmail.com> *
*                                                               *
*****************************************************************/
body{
	background-color : #000000;
	background-image : url(img/alchemyquest/background.png);
	background-repeat : repeat;
	font-family : Sans, Sans Ms, Verdana;
	padding: 0;
	margin: 0;
}

img{
	border : 0;
}


#page{
	width : 743px;
	margin : auto;
	padding : 10px;
	background-color: #173b5b;
}

#title{
	margin : 0;
	padding : 0;
}

#title h1{
	margin : 0;
}

h2, h3{
	color: #461f00;
 margin : 0;
}

code, pre{
	background-color: #ffffff;	
}

#menu{
	margin : 0;
	padding: 0;
	background-image: url(img/alchemyquest/menu-back.png);
	height: 60px;
}

#menu-separator{
	clear: both;	
	position: relative;
	top: -4px;
	background-image: url(img/alchemyquest/menu-top.png);
	height: 8px;
	border: 0;
	margin: 0;
	z-index: 70;
	background-repeat : repeat-x;
}

#menu ul{
	margin : 0;
	padding : 0;
	list-style: none;
}

.menu-li{
	position: relative;
	float: left;
	color: #000000;
	background-image: url(img/alchemyquest/onglet.png);
	height : 20px;
	width : 118px;
	margin : 0 0 0 3px;
	padding : 15px 1px 15px 1px;
	text-align: center;
	z-index: 10;
}

.menu-current{
	position: relative;
	float: left;
	color: #000000;
	background-image: url(img/alchemyquest/onglet-actif.png);
	height : 20px;
	width : 118px;
	margin : 0 0 0 3px;
	padding : 15px 1px 15px 1px;
	text-align: center;
	z-index: 1000;
}

#menu a{
	text-decoration: none;
	color : #000000;
}

#menu a:hover{
	color : #0000ff;
}

#content{
	margin: 0px;
	background-image : url(img/alchemyquest/content-back.png);
	background-repeat : repeat-y;
	padding : 20px;
	line-height : 1.8em;
	text-align: left;
}

#home-content{
	margin: 0px;
	background-image : url(img/alchemyquest/content-back.png);
	background-repeat : repeat-y;
	padding : 20px;
	line-height : 1.8em;
	text-align: center;
}

#get{
	background-image : url(img/alchemyquest/download.png);
	width: 360px;
	height: 110px;
	padding : 20px;
	margin: auto;
}

#get h2{
	color: #000000;
}

.blind{
	position : absolute;
	display : none;
	margin : 0;
	height : 0;
}

#content-bottom{
	clear: both;
	background-image: url(img/alchemyquest/content-bottom.png);
	height: 8px;
	width: 100%;
	border: 0;
	margin: 0;
	color: white;
}

.authors-table{
	background-color: #ffffff;
	width: 100%;
}

.authors-table td{
	padding: 10px;
}

.authors-table th{
	text-align: center;
}

.authors-table th img{
	border: 1px solid #000000;
}

.footer{
	text-align: center;
	font-size: 0.7em;
}

.author-name{
	margin: 0;
}

.author-function{
	font-style: italic;
	margin: 0;
}

.author-website a{
	font-style: italic;
	font-size: 0.7em;
	margin: 0;
	color: #000000;
}

.author-website a:hover{
	color: #666666;
}

.screenshot{
	float: left;
	margin: 0 44px 20px 44px;
	width: 250px;
}

.community{
  text-align: center;
  background-color: #e5ecfc;
  border: 1px solid #aaa;
  padding: 20px;
}

.post-screenshot{
	clear: both;
	text-align: center;
}

.center{
	text-align: center;
}
